body {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container {
    aspect-ratio: 1/1;
    height: auto;
    background-color: white;
    border-radius: 4px;
    display: flex;
    flex-wrap: wrap;
}
#controlPanel {
    padding: 20px;
}